<!DOCTYPE html>
<html lang="en">

<head>
    <title>Assignment 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
</head>

<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-theme-l1">Home</a>
            {% if loggedIn %}
            <a id="me-button" href="/me" class="w3-bar-item w3-button w3-hover-white" style='visibility: hidden'>Me</a>
            <a id="files-button" href="/" class="w3-bar-item w3-button w3-hover-white"
                style='visibility: hidden'>Files</a>
            <a id="signout-button" href="/" class="w3-bar-item w3-button w3-hover-white" style='visibility: hidden'>Sign
                out</a>
            {% else %}
            <a id="login-button" href="/login" class="w3-bar-item w3-button w3-hover-white"
                style='visibility: hidden'>Login</a>
            <a id="signup-button" href="/signup" class="w3-bar-item w3-button w3-hover-white"
                style='visibility: hidden'>Signup</a>
            {% endif %}
        </div>
    </div>

    <div class="w3-main">

        <div class="w3-row w3-padding-32">
            <div class="w3-container">
                <h1 class="w3-text-teal">Welcome to Assignment 2!</h1>
                <p>This is my submission for Assignment 2 of CS-5165: Introduction to Cloud Computing.</p>
                <p>:)</p>
            </div>
        </div>

        <footer id="myFooter">
            <div class="w3-container w3-theme-l1">
                <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
            </div>
        </footer>

        <!-- END MAIN -->
    </div>

</body>

</html>