{% extends "baseLayouts/baseLoggedOut.html.jinja" %}

{% block titleBlock %}Login{% endblock %}

{% block loginButtonBlock %}w3-theme-l1{% endblock %}

{% block headerBlock %}Login to your account!{% endblock %}
{% block mainContentBlock %}
<form>
    <label for="user_name">Username:</label>
    <br>
    <input type="text" id="user_name" name="user_name" required>
    <br>
    <label for="pswrd">Password:</label>
    <br>
    <input type="password" id="pswrd" name="pswrd" required>
    <br>
    <br>
    <input type="submit" value="Submit" formmethod="post">
</form>
{% endblock %}

{{ super() }}