<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
</head>

<body>

    <h1>Create an account!</h1>
    <form>
        <label for="user_name">Username:</label>
        <br>
        <input type="text" id="user_name" name="user_name" required>
        <br>
        <label for="pswrd">Password:</label>
        <br>
        <input type="password" id="pswrd" name="pswrd" required>
        <br>
        <label for="c_pswrd">Confirm Password:</label>
        <br>
        <input type="password" id="c_pswrd" name="c_pswrd" required>
        <br>
        <br>
        <input type="submit" value="Submit" formmethod="post">
    </form>

</body>

</html>