<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Files</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-hover-white">Home</a>
            <a id="me-button" href="/me" class="w3-bar-item w3-button w3-hover-white">Me</a>
            <a id="files-button" href="/files" class="w3-bar-item w3-button w3-theme-l1">Files</a>
            <a id="signout-button" href="/signout" class="w3-bar-item w3-button w3-hover-white">Sign out</a>
        </div>
    </div>

    <div class="w3-main">
        <div class="w3-row w3-padding-32">
            <div class="w3-container ">
                <h1 class="w3-text-teal">{{ userName }} Files</h1>
                <div class="w3-bar-block">
                    {% for file in fileList %}
                    <a href="/files/{{ file.id }}" class="w3-button w3-bar-item ws-grey">{{ file.name }}</a>
                    {% else %}
                    <p>No files yet. Try uploading one!</p>
                    {% endfor %}
                </div>
            </div>

            <div class="w3-container w3-padding-32">
                <a id="file-upload" href="/files/upload" class="w3-button w3-theme-l1">Upload File</a>
            </div>
        </div>


        <footer id="myFooter">
            <div class="w3-container w3-theme-l1">
                <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
            </div>
        </footer>
    </div>
</body>

</html>