{% extends "baseLayouts/baseUserFiles.html" %}

{% block titleBlock %}User Files{% endblock %}

{% block headerBlock %}{{ userName }} Files{% endblock %}
{% block mainContentBlock %}
    <div class="w3-bar-block">
        {% for file in fileList %}
            <a href="/files/{{ file.id }}" class="w3-button w3-bar-item ws-grey">{{ file.name }}</a>
        {% else %}
            <p>No files yet. Try uploading one!</p>
        {% endfor %}
    </div>
{% endblock %}

{% block filePageButtonBlock %}
    <a id="file-upload" href="/files/upload" class="w3-button w3-theme-l1">Upload File</a>
{% endblock %}

{{ super() }}
